name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Laptop Verification
      id: laptop-verification
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Laptop Verification
        setup-command: pip install pytest
        command: pytest tests/test_pr_00_laptop_verify.py -v
        timeout: 10
        max-score: 90
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        LAPTOP-VERIFICATION_RESULTS: "${{steps.laptop-verification.outputs.result}}"
      with:
        runners: laptop-verification
